body{
	width: 600px;
	margin: 0 auto;
	border: 5px solid #02499B;
	margin-top: 5%;
}
.users{
	float : right;
	margin-right: 30%;
}
.messages {
	width: 500px;
	height: 400px;
	margin: auto;
	border : 1px solid black;
	padding: 1em;
}
.message_form,
.change_name_form{
	padding: 1em;
}
.center{
	width: 600px;
	height: 700px;
}
.textinput{
	margin-left: 3%;
	width: 520px;
	height: 40px;
}